<div id="team-intro-section">
    <div class="content">
        <div class="solid">
            <h1 class="title">
                Our <br>team
            </h1>
            <div class="intro">
                <h4>
                    Our team is lead by world-renowed and admired italian chef Carlo Ferrari, carefully assisted by the
                    raising star of the australian cousine, Emily Smith.
                </h4>

            </div>
            <div class="details">
                <h4>
                    Our team works tirelessly to deliver to our customer excellent quality food and exceed every day
                    even the best expectations.</h4>
                <h4 class="title">
                    OUR TEAM WORKS TIRELESSLY TO DELIVER TO OUR CUSTOMER EXCELLENT QUALITY FOOD AND EXCEED EVERY DAY
                    EVEN THE BEST EXPECTATIONS.
                </h4>
            </div>
        </div>

        <div class="parallax"></div>


    </div>
</div>