<div id="contact-section">
    <div class="content">
        <a class="map" href="map:" target="_blank">

        </a>

        <div class="address">
            <h4 class="title">
                Address
            </h4>
            <h4 class="subtitle">
                Mangiare
            </h4>
            <h4 class="subtitle">
                Via delle Romite 13 <br>
                53037, San Gimignano<br>
                Italy
            </h4>
            <div class="contact">
                <a href="tel:" target="_blank">
                    Phone: +123 456789
                </a>
                <a href="mailto:" target="_blank">
                    E-Mail: info@sectra.com
                </a>
            </div>
        </div>

        <div class="reserve">
            <h4 class="title">
                Reserve
            </h4>

            <form>
                <label for="Full-Name" class="label">Full Name</label>
                <input type="text" class="input" name="Full-Name" data-name="Full Name" id="Full-Name" required="">
                <label for="Telephone-Number" class="label">Telephone Number</label>
                <input type="tel" class="input" name="Telephone-Number" data-name="Telephone Number"
                    id="Telephone-Number" required="">

                <label for="Date" class="label">Date</label>
                <input type="text" class="input" name="Date" data-name="Date" id="Date" required="">

                <label for="Party-Size" class="label">Party Size</label>
                <input type="number" class="input" name="Party-Size" data-name="Party Size" id="Party-Size" required="">

                <label for="Additional-Information" class="label">Additional-Information</label>
                <textarea type="text" class="input" name="Additional-Information" data-name="Additional Information"
                    id="Additional-Information" required=""></textarea>

                <input type="submit" value="Submit Reservation" data-wait="Please wait..." class="submit-button">
            </form>
        </div>
    </div>
</div>