<div id="place-intro-section">
    <div class="content">
        <div class="solid">
            <h1 class="title">
                A place of <br>dreams
            </h1>
            <div class="intro">
                <h4>
                    Our restaurant is an intimate hideaway conceived for the food connoisseurs. Mangiare is an elegant
                    place where healthy eating meets tasty recipes.
                </h4>

            </div>
            <div class="details">
                <h4>
                    Surrounded by views across some of Italy' most iconic landscape, Mangiare has become a global cultural
                    icon of Italy and one of theworlds' most famous Restaurants.


                </h4>
                <h4 class="title">
                    Mangiare HAS BECOME A GLOBAL CULTURAL ICON OF ITALY AND ONE OF THE MOST FAMOUS RESTAURANTS IN THE
                    WORLD.
                </h4>
            </div>
        </div>

        <div class="parallax"></div>


    </div>
</div>