#footer {
    font-family: "Times", sans-serif;
    color: #4e5b31;
    line-height: 1.7;

    .info,
    .copyright {
        border-top: 1px solid #b3c2af;
        padding: 40px 10%;
        margin: 40px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &.info {
            .column {
                display: flex;
                flex-direction: column;

                max-width: 30%;
                .column-title {
                    font-size: 27px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 10px;
                }
                .column-info {
                    font-family: "Lato", sans-serif;
                    display: flex;
                    flex-direction: column;

                    a {
                        margin-bottom: 10px;
                    }
                }
                .action-button {
                    padding: 15px 12px;
                    width: fit-content;
                    margin-top: 20px;
                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    cursor: pointer;
                    border: 1px solid #4e5b31;
                    background-color: #4e5b31;
                    color: #fff;
                    &:hover {
                        background-color: transparent;
                        color: #4e5b31;
                    }
                }
            }
        }

        &.copyright {
            font-family: "Lato", sans-serif;

            .socials {
                a {
                    margin-left: 10px;
                }
            }
        }
    }

    a {
        color: #4e5b31;
        text-decoration: none;
    }
}
