<div id="footer">
    <div class="info">
        <div class="column">
            <h4 class="column-title">
                Mangiare
            </h4>
            <div class="column-info">
                Surrounded by views across some of Italy' most iconic landscape, Mangiare is an elegant expression of
                healthy and modern eating.
            </div>
            <a class="action-button" href="/book">
                Reserve a table
            </a>
        </div>

        <div class="column">
            <h4 class="column-title">
                Contacts
            </h4>
            <div class="column-info">
                <a target="_blank" href="mailto:">
                    info@mangiare.com
                </a>
                <a target="_blank" href="tel:">
                    +123 456 789
                </a>
            </div>
        </div>

        <div class="column">
            <h4 class="column-title">
                Address
            </h4>
            <div class="column-info">
                <a href="map:" target="_blank">
                    Via delle Romite 13
                </a>
                <a href="map:" target="_blank">
                    53037, San Gimignano
                </a>
                <a href="map:" target="_blank">
                    Italy
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="statement">
            Copyright. All rights reserved.
        </div>
        <div class="socials">
            <a target="_blank" href="https://www.tripadvisor.com/">Tripadvisor</a>
            <a target="_blank" href="https://www.yelp.it/">Yelp</a>
        </div>
    </div>
</div>