<div id="header" [ngClass]="{'isOpen': isOpen==true}">
    <div class="header-bar">
        <div class="menu" (click)="toggleMenu()">
            <a class="ham">
                <div class="ham-line"></div>
                <div class="ham-line"></div>
            </a>
            <a>
                Mangiare
            </a>
        </div>

        <div class="actions">
            <a class="laptop-only">
                +123 456 789
            </a>
            <a class="action-button" href="/book">
                Reserve a table
            </a>
        </div>
    </div>
    <div class="header-content">
        <div class="content-left">
            <div class="section">
                <div class="title">
                    BOOK NOW
                </div>
                <a href="mailto:">
                    reservation@mangiare.com
                </a>
                <a href="tel:">
                    +123 456 789
                </a>
            </div>

            <div class="section">
                Via delle Romite
                1353037, San Gimignano
                Italy
            </div>
            <div class="section socials">
                <a href="https://www.facebook.com/">
                    Facebook
                </a>
                <a href="https://www.twitter.com/">
                    Twitter
                </a>
                <a href="https://www.instagram.com/">
                    Instagram
                </a>
            
            </div>
        </div>
        <div class="content-right">
            <a>
                Home
            </a>
            <a>
                Menu
            </a>
            <a>
                Place
            </a>
            <a>
                Item
            </a>
        </div>
    </div>
</div>