<div id="team-gallery-section">
    <div class="content">
        <div class="title">
            Our Restaurant
        </div>
        <div class="subtitle">
            Mangiare is a global cultural icon of Italy
        </div>
        <img class="separator-img" src="/assets/separator.png">

        <div class="photo-grid">
            <div class="photo-column">
                <div class="photo-container">
                    <div class="photo"> </div>
                </div>
                <div class="photo-container">
                    <div class="photo"> </div>
                </div>
            </div>
            <div class="photo-column">
                <div class="photo-container">
                    <div class="photo"> </div>
                </div>
                <div class="photo-container">
                    <div class="photo"> </div>
                </div>
            </div>
        </div>
    </div>
</div>