<div id="speciality-section">
    <div class="content">
        <div class="speciality">
            <div class="text">
                <div class="">
                    Italian Soul
                </div>
                <div class="title">
                    Flavours of the tradition
                </div>
                <div class="subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                    vitae erat.
                </div>
                <div class="subtitle">
                    Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                    posuere.
                </div>
            </div>
            <div class="image">
                <div class="image-container">
                    <img src="/assets/speciality/img1.jpeg">
                </div>
            </div>
        </div>
        <div class="speciality">
            <div class="text">
                <div class="">
                    Modern cousine
                </div>
                <div class="title">
                    Healthy and balanced
                </div>
                <div class="subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum.
                </div>
                <div class="subtitle">
                    Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                </div>
            </div>
            <div class="image">
                <div class="image-container">
                    <img src="/assets/speciality/img2.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>