<div id="intro-section">
    <h1 class="title">
        <span>
            welcome to
        </span>
        <span>
             Mangiare
        </span>
    </h1>

    <div class="images-container">
        <div class="images">
            <img src="/assets/intro/img1.jpeg">
            <img src="/assets/intro/img2.jpeg">
            <img src="/assets/intro/img3.jpeg">
            <img src="/assets/intro/img4.jpeg">
        </div>
        <div class="images">
            <img src="/assets/intro/img1.jpeg">
            <img src="/assets/intro/img2.jpeg">
            <img src="/assets/intro/img3.jpeg">
            <img src="/assets/intro/img4.jpeg">
        </div>
    </div>
</div>