<div id="food-section">
    <div class="content">
        <div class="title">
            We work close to the best regional producers to bring you the best ingredients
        </div>
        <div class="image-wrap">
            <div class="image-container">
                <img src="/assets/food/img1.jpeg">
            </div>
            <div class="image-container">
                <img src="/assets/food/img2.jpeg">
            </div>
            <div class="image-container">
                <img src="/assets/food/img3.jpeg">
            </div>
            <div class="image-container">
                <img src="/assets/food/img4.jpeg">
            </div>
        </div>
    </div>
</div>