<div id="connect-section">
    <div class="content">
        <h2 class="title">
            Connect on Instagram
        </h2>
        <h2 class="subtitle">
            Everyday we share great recipes you can follow
        </h2>

        <img class="separator" src="/assets/separator.png">

        <div class="image-grid">
            <div>
                <a class="img1 image-container" target="_blank" href="https://www.instagram.com/"> </a>
            </div>
            <div>
                <a class="img2 image-container" target="_blank" href="https://www.instagram.com/"> </a>
                <a class="img3 image-container" target="_blank" href="https://www.instagram.com/"></a>
            </div>
        </div>
    </div>
</div>