<div id="menu-intro-section">
    <div class="content">
        <div class="solid">
            <h1 class="title">
                Our <br>Menu
            </h1>
            <div class="intro">
                <h4>
                    Our Chef has studied healthy but tasty recipes that mix the italian tradition with modern and
                    innovative cousine.
                </h4>

            </div>
            <div class="details">
                <h4>
                    Our ingredients are sourced from local farmers and fishermen to deliver our clients fresh product
                    that respects the environment while nourishing their bodies.
                </h4>
                <h4 class="title">
                    Our ingredients are sourced from local farmers and fishermen to deliver our clients fresh product
                    that respects the environment while nourishing their bodies.
                </h4>
            </div>
        </div>

        <div class="parallax"></div>

        <div class="menu">
            <div class="title">
                Starter
            </div>
            <div class="items">
                <div class="item">
                    <div>
                        Pressed foie gras (plum, pistacchio, sisho)
                    </div>
                    <div>
                        $11
                    </div>
                </div>
                <div class="item">
                    <div>
                        Scallops from the isle of Skye (ajo blanco, verjus, olive oil)
                    </div>
                    <div>
                        $22
                    </div>
                </div>
                <div class="item">
                    <div>
                        Roasted veal sweet bread (summer vegetables, Pommery mustard, brown butter)
                    </div>
                    <div>
                        $14
                    </div>
                </div>
                <div class="item">
                    <div>
                        Wild seabass (betal leaves, coconut, ginger)
                    </div>
                    <div>
                        $14
                    </div>
                </div>
            </div>

            <div class="title">
                Main Dishes
            </div>
            <div class="items">
                <div class="item">
                    <div>
                        Dover Sole (carrot, fennel, cockles, vadouvan)
                    </div>
                    <div>
                        $19
                    </div>
                </div>
                <div class="item">
                    <div>
                        Cornish turbot (courgette, romesco, black olive, basil)
                    </div>
                    <div>
                        $24
                    </div>
                </div>
                <div class="item">
                    <div>
                        Roasted pigeon (beetroot, pickled blackberries, buckwheat)
                    </div>
                    <div>
                        $27
                    </div>
                </div>
                <div class="item">
                    <div>
                        Cumbrian Blue Grey (leek, pickled alliums, black garlic)
                    </div>
                    <div>
                        $18
                    </div>
                </div>
            </div>

            <div class="title">
                Desserts
            </div>
            <div class="items">
                <div class="item">
                    <div>
                        Grand Cru 75% chocolate (coffe, madeira, mascarpone)
                    </div>
                    <div>
                        $14
                    </div>
                </div>
                <div class="item">
                    <div>
                        Jackfruit (its seed, tamarind)
                    </div>
                    <div>
                        $12
                    </div>
                </div>
                <div class="item">
                    <div>
                        Pavlova (wild strawberries, Sarawak pepper, lemon verbena)
                    </div>
                    <div>
                        $17
                    </div>
                </div>
                <div class="item">
                    <div>
                        Raspberry Soufflé (salted almond ice cream)
                    </div>
                    <div>
                        $18
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>