<div id="discover-section">
    <div class="content">
        <div class="row">
            <div class="images-container">
                <div class="images">
                    <img src="/assets/discover/img1.jpeg">
                    <img src="/assets/discover/img2.jpeg">
                </div>
            </div>
            <div class="description">
                <h2 class="description-title">
                    Surrounded by views across Italy's most iconic landscape
                </h2>
                <a class="btn" href="/place">
                    <div class="circle"> </div>
                    <i class="btn-icon">
                        &uarr;
                    </i>
                    <div class="btn-text">
                        see our restaurant
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <img class="single-img" src="/assets/discover/img3.png">
            <div class="description">
                <h2 class="description-title">
                    innovative but healthy recipes
                </h2>
                <h3 class="description-subtitle">
                    We work close to the best regional producersto bring you the best ingredients. Fresh and
                    environment-friendly food to nurish your body and keep our planet safet.
                </h3>
                <a class="btn" href="/menu">
                    <div class="circle"> </div>
                    <i class="btn-icon">
                        &uarr;
                    </i>
                    <div class="btn-text">
                        discover our menu
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="images-container">
                <div class="images">
                    <img src="/assets/discover/img4.jpeg">
                    <img src="/assets/discover/img5.jpeg">
                </div>
            </div>
            <div class="description">
                <h2 class="description-title">
                    A young but ambitious group of food lovers
                </h2>
                <a class="btn" href="/team">
                    <div class="circle"> </div>
                    <i class="btn-icon">
                        &uarr;
                    </i>
                    <div class="btn-text">
                        get to know the team
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="video-container">
        <video autoplay muted loop disablepictureinpicture controls controlsList="nodownload">
            <source src="/assets/video1.mp4" type="video/mp4">
        </video>
    </div>
</div>